<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
      <h2>Dokumentationen for api til at få informationen ud af cuben, alle resultater leveres som JSON objekter i GET metoder</h2>
        <h3>Endpoints</h3>
        <p>"/api/sales/year" Giver antal solgte produkter pr år</p>
        <p>"/api/sales/month" Giver antal solgte produkter pr måned</p>
        <p>"/api/sales/year" Giver antal solgte produkter pr dag</p>
        <p>"/api/sales/members" Giver de member der har købt produkter, samt hvor meget de har købt</p>
        <div>
            <p>"/api/sales/products/year" Giver antal salg pr år i Toplevel kategorier</p>
            <p>"/api/sales/products/month" Giver antal salg pr måned i toplevel kategorier</p>
            <p>"/api/sales/products/day" Giver antal salg pr dag i toplevel kategorier</p>
        </div>
        <div>
            <p>"/api/sales/category" Giver produkter, samt deres kategorier og underkategorier</p>
        </div>
    </div>
</div>
